<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @empleado.rfc %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @empleado.puesto %>
</p>

<p>
  <strong>Sucursales:</strong>
  <%= Sucursale.find(@empleado.sucursales_id).nombre %>
</p>

<%= link_to 'Modificar', edit_empleado_path(@empleado) %> |
<%= link_to 'Regresar', sucursales_path %>
