<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sucursale.nombre %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @sucursale.calle %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @sucursale.colonia %>
</p>

<p>
  <strong>Numeroexterior:</strong>
  <%= @sucursale.numeroExterior %>
</p>

<p>
  <strong>Numerointerior:</strong>
  <%= @sucursale.numeroInterior %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @sucursale.ciudad %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @sucursale.pais %>
</p>

<p>
  <strong>Empresa:</strong>
      <%= Usuario.find(@sucursale.usuarios_id).nombreEmpresa.to_str %>
</p>

<%= link_to 'Modificar', edit_sucursale_path(@sucursale) %> |
<%= link_to 'Regresar', sucursales_path %>
